@charset "utf-8";

/* 테이블 공통 */
.wrap_table{width:1200px;margin:0 auto;padding:60px 0}
.table_chw{width:100%;table-layout:fixed;border-top:2px solid #666}
.table_chw .table_head tr{border-bottom:1px solid #666}
.table_chw .table_body tr{border-bottom:1px solid #eee}
.table_chw th{padding:15px 0;font-size:18px}
.table_chw td{padding:15px 0;font-size:16px;color:#333;text-align:center}
.table_chw td:nth-child(3){text-align:left}
.table_chw .link_board{display:block;overflow:hidden;width:100%;padding:0 30px 0 0;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box}

/* 페이징 공통 */
.paging_chw{padding:30px 0 0;text-align:center}
.paging_chw .link_direction{display:inline-block;width:30px;height:30px;border:1px solid #777;font-size:20px}
.paging_chw .link_direction:hover{border-color:#18467d;color:#fff;background-color:#18467d;text-decoration:none}
.paging_chw .link_paging{margin:0 5px;padding:0 5px;font-size:20px;font-family:Noto Sans Light, AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif}
.paging_chw .link_paging:hover{font-weight:bold;color:#18467d;text-decoration:none}

/* 셀렉트박스 공통 */
.opt_chw{position:relative}
.opt_chw .btn_opt{overflow:hidden;position:relative;z-index:1;width:230px;height:50px;padding:0 18px 0 20px;font-size:16px;color:#aeaeae;background-color:#fff;box-sizing:border-box;text-align:left}
.opt_chw .list_opt{display:none;overflow:hidden;position:absolute;top:50px;left:0;width:100%;padding:10px 0;border-top:1px solid #f0f0f0;background-color:#fff;box-shadow:1px 1px 4px 0px rgba(0,0,0,.3)}
.opt_chw .link_opt{display:block;padding:7px 20px;font-size:14px}
.opt_chw .link_opt:hover{background-color:#f0f0f0;text-decoration:none}
.opt_chw .ico_arrow{float:right;width:10px;height:7px;margin:9px 0 0;background-position:0 -30px}
.opt_chw.opt_open .ico_arrow{background-position:-10px -30px}

/* 체크박스 공통 */
.chk_g {position:relative}
.chk_g .inp_chk{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.01}
.chk_g .inp_chk:checked + .lab_chk{background-position:-70px -20px}
.chk_g .lab_chk{display:inline-block;width:20px;height:20px;vertical-align:top;background-position:-50px -20px}

/* 콘텐츠 */
.chw_cont{padding:0 0 60px}

.chw_service{overflow:hidden;width:1200px;margin:0 auto}
.chw_service + .cont_area{padding:20px 0 0}
.info_service{float:left;width:586px}
.info_service .item_slide{height:400px;padding:84px 0 0 50px;background-repeat:no-repeat;background-size:cover;box-sizing:border-box}
.info_service .tit_service{font-size:30px;color:#fff}
.info_service .desc_g{padding:35px 0 0;font-size:18px;color:#fff}
.info_service .link_detail{display:block;width:125px;height:40px;margin:50px 0 0;font-size:16px;line-height:40px;background-color:rgba(255,255,255,.89);text-align:center}
.info_service .link_detail:hover{color:#fff;background-color:#27a2dd;text-decoration:none}
.info_service .bx-wrapper .bx-pager{bottom:10px;text-align:center}
.info_service .bx-pager-link{border-radius:50%;background-color:#fff}
.info_service .bx-wrapper .bx-pager.bx-default-pager a{width:10px;height:10px}
.info_service .bx-wrapper .bx-pager.bx-default-pager a:hover,
.info_service .bx-wrapper .bx-pager.bx-default-pager a.active {background-color:#5ebbe8}

.list_service{float:right;width:586px}
.list_service li{float:left;width:293px;height:200px;padding:60px 0 0;background-repeat:no-repeat;background-size:cover;text-align:center;box-sizing:border-box}
.list_service li:nth-child(1){background-image:url(../images/bg_service1.jpg)}
.list_service li:nth-child(2){background-image:url(../images/bg_service2.jpg)}
.list_service li:nth-child(3){background-image:url(../images/bg_service3.jpg)}
.list_service li:nth-child(4){background-image:url(../images/bg_service4.jpg)}
.list_service li:nth-child(1) .link_service{color:#e19a01}
.list_service li:nth-child(2) .link_service{color:#18467d}
.list_service li:nth-child(3) .link_service{color:#196b74}
.list_service li:nth-child(4) .link_service{color:#505050}
.list_service .tit_service{display:block;font-size:20px;color:#fff}
.list_service .link_service{display:block;width:125px;height:35px;margin:20px auto 0;font-weight:bold;font-size:16px;line-height:35px;background-color:rgba(255,255,255,.89)}
.list_service .link_service:hover{text-decoration:none}

.cont_area{width:1200px;margin:0 auto;padding:60px 0 0}
.cont_area:after{display:block;clear:both;content:''}
.cont_area .tit_chw{margin:0 0 20px;padding:0 0 0 10px;border-left:5px solid #5ecbe2;font-size:22px;line-height:1.2}
.list_cont:after{display:block;clear:both;content:''}
.list_cont li{float:left;width:300px}
.list_cont .link_cont{display:block;padding:0 26px 0 0}
.list_cont .link_cont:hover{text-decoration:none}
.list_cont .detail_cont{padding:26px 23px 24px;border:1px solid #d7d7d7;border-top:none}
.list_cont .tit_cont{font-size:16px}
.list_cont .info_cont{overflow:hidden;padding:10px 0 0;font-size:15px}
.list_cont .info_cont dt{float:left}
.list_cont .info_cont dd{float:left;position:relative;padding:0 16px 0 0}
.list_cont .info_cont dd:last-child{padding:0}
.list_cont .info_cont dd:after{position:absolute;top:3px;right:7px;width:1px;height:15px;background-color:#000;content:''}
.list_cont .info_cont dd:last-child:after{display:none}
.list_cont .wrap_thumb{display:block;overflow:hidden;width:100%;height:215px}
.list_cont .thumb_g{transition:transform 0.3s}
.list_cont li:hover .thumb_g{transform:scale(1.1)}
.list_cont_type2{float:left}
.list_cont_type2 li{width:306px}
.list_cont_type2 .tit_chw{display:block}

.cont_search{margin:60px 0 0;padding:35px 0 40px;background-color:#ebebeb}
.cont_search .info_search{width:1200px;margin:0 auto;padding:35px 0 0}
.cont_search .info_search:after{display:block;clear:both;content:''}
.cont_search .detail_search{float:left}
.cont_search .tit_chw{font-size:20px;text-align:center}
.cont_search .tit_chw .ico_search{display:inline-block;width:20px;height:20px;margin:4px 10px 0 0;vertical-align:top;background-position:-40px 0}
.cont_search .opt_chw{float:left}
.cont_search .opt_chw + .opt_chw{margin:0 0 0 10px}
.cont_search .btn_search{float:right;width:160px;height:50px;font-size:16px;color:#fff;background-color:#18467d}

.cont_area .bx-wrapper .bx-controls-direction a{top:-15px;width:18px;height:20px;background-color:#fff}
.cont_area .bx-wrapper .bx-prev{left:inherit;right:17px;background:url(../images/ico_chw.png) no-repeat 0 0}
.cont_area .bx-wrapper .bx-prev:hover{background-position:0 0}
.cont_area .bx-wrapper .bx-next{right:0;background:url(../images/ico_chw.png) no-repeat -20px 0}
.cont_area .bx-wrapper .bx-next:hover{background-position:-20px 0}
.bx-wrapper .list_cont .link_cont{padding:0}

.join_ask{float:left;width:281px;height:346px;margin:45px 0 0;background:url(../images/bg_join.jpg) no-repeat 50% 50%;background-size:cover}
.tit_ask{display:block;padding:120px 0 0;font-size:20px;color:#fff;text-align:center}
.link_ask{display:block;width:176px;height:46px;margin:90px auto 0;font-size:18px;line-height:46px;color:#49a6ad;background-color:#fff;text-align:center}
.link_ask:active{background-color:#fff}

.cont_info{overflow:hidden;width:1200px;height:200px;margin:0 auto;padding:60px 0 0}
.info_news{float:left;position:relative;width:586px;height:100%;padding:20px 36px 26px 34px;background-color:#ebebeb;box-sizing:border-box}
.info_news .tit_chw{font-size:20px}
.info_news .link_more{position:absolute;top:26px;right:35px}
.list_news{overflow:hidden;max-height:116px;padding:8px 0 0}
.list_news li{padding:4px 0 0}
.link_news{display:block;overflow:hidden;font-size:13px}
.link_news .type_news{padding:0 10px 0 0}
.link_news .desc_news{overflow:hidden;float:left;max-width:380px;white-space:nowrap;text-overflow:ellipsis}
.link_news .date_news{float:right}
.link_news:hover .desc_news{text-decoration:underline}

.info_location{float:left;width:586px;height:100%;margin:0 0 0 27px;background:url(../images/bg_location.jpg) no-repeat 0 0;background-size:cover}
.info_location .tit_chw{display:block;padding:50px 0 0;font-size:23px;color:#fff;text-align:center}
.info_location .tit_chw .ico_location{display:inline-block;width:28px;height:40px;margin:0 10px 0 0;background-position:-20px -30px;vertical-align:top}
.info_location .link_location{display:block;width:132px;height:40px;margin:26px auto 0;font-size:17px;line-height:40px;color:#18467d;background-color:#fff;text-align:center}

/* 퀵메뉴 */
.quick_chw{position:absolute;top:111px;right:50%;width:110px;margin-right:-720px;border:1px solid #ababab;box-sizing:border-box}
.quick_chw .link_quick{display:table;width:100%;height:70px;text-align:center}
.quick_chw .link_quick + .link_quick{border-top:1px solid #ababab}
.quick_chw .link_quick .ico_chw{display:inline-block;vertical-align:top}
.quick_chw .inner_quick{display:table-cell;vertical-align:middle}
.quick_chw .ico_youtube{width:87px;height:44px;background-position:0 -70px}
.quick_chw .ico_nblog{width:39px;height:39px;background-position:0 -120px}
.quick_chw .ico_nband{width:37px;height:37px;background-position:-50px -120px}
.quick_chw .ico_npost{width:37px;height:37px;background-position:-90px -120px}
.quick_chw .txt_quick{display:inline-block;padding:0 0 0 8px;font-size:13px;text-align:left}

/* 게시판 목록*/
.board_top{padding:0 0 20px}
.board_top:after{display:block;clear:both;content:''}
.board_top .txt_board{float:left;padding:10px 0 0;font-size:18px}
.board_top .txt_board em{color:#00a1e9}
.board_top .search_board{float:right}
.search_board .opt_chw{float:left;position:relative;border:1px solid #666}
.search_board .btn_opt{width:70px;height:40px;padding:0 10px;font-size:14px;color:#777}
.search_board .list_opt{top:31px;padding:5px 0}
.search_board .link_opt{padding:2px 8px}
.search_board .wrap_inp{float:right;position:relative;height:42px;margin:0 0 0 -1px;padding:11px 40px 0 12px;border:1px solid #777;box-sizing:border-box}
.search_board .inp_g{border:0 none;font-size:14px}
.search_board .btn_search{position:absolute;top:11px;right:12px;width:20px;height:20px;background-position:-80px 0}

/* 게시판 뷰 */
.wrap_view{width:1200px;margin:60px auto 80px;border-top:2px solid #666}
.view_top{display:table;overflow:hidden;width:100%;padding:15px;border-bottom:1px solid #ccc;box-sizing:border-box}
.view_top .tit_view{display:table-cell;width:920px;height:100%;padding:0 50px 0 0;font-size:22px;vertical-align:middle;box-sizing:border-box}
.view_top .info_view{display:table-cell;height:100%;font-size:14px;vertical-align:middle}
.view_top .info_view dt{float:left;padding:0 10px 0 0;font-family:Noto Sans Medium, AppleSDGothicNeo-Medium,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif}
.view_top .info_view dd{float:left;font-family:Noto Sans Light, AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif}
.view_top .info_view dd + dt{padding-left:40px}
.board_view{padding:20px 15px}
.view_bottom{border-top:2px solid #333}
.view_bottom .link_near{display:block;position:relative;padding:15px 30px;border-bottom:1px solid #666}
.view_bottom .link_near:hover{text-decoration:none}
.view_bottom .link_near:hover .tit_near{color:#333}
.view_bottom .tit_near{display:block;overflow:hidden;width:100%;padding:0 0 0 140px;font-size:14px;font-family:Noto Sans Light, AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#a1a1a1;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis}
.view_bottom .txt_near{position:absolute;top:15px;left:30px;font-size:14px}
.view_bottom .ico_near{display:inline-block;margin:3px 0 0;padding:0 10px 0 0;font-size:10px;vertical-align:top}

/* 로그인 */
.wrap_login{width:500px;margin:80px auto}
.login_chw{padding:40px 40px 60px;border:1px solid #e0e0e0}
.login_chw .wrap_inp{padding:40px 0 0}
.tit_login{display:block;border-bottom:2px solid #333;font-size:24px}
.item_login{overflow:hidden;padding:40px 0 0}
.item_login dt{float:left;width:60px;padding:10px 0 0 20px}
.item_login dd{overflow:hidden;padding:0 0 0 50px}
.item_login dd .desc_g{padding:6px 0 0;color:#666}
.item_login .inp_g{width:100%;padding:10px 15px;border:none;font-size:16px;background-color:#f1f1f1;box-sizing:border-box}
.lab_login{font-size:16px;font-family:Noto Sans Bold, AppleSDGothicNeo-Bold,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;color:#333}
.btn_login{width:100%;height:60px;margin:60px 0 0;font-size:22px;color:#fff;background-color:#18467d}
.btn_login:hover{background-color:#0d294a}
.login_bottom{overflow:hidden;padding:20px 40px;margin:-1px 0 0;border:1px solid #e0e0e0}
.login_bottom .link_signin{float:left}
.login_bottom .find_login{float:right}
.login_bottom .find_login .link_login{position:relative;padding:0 0 0 20px}
.login_bottom .find_login .link_login:first-child:after{position:absolute;top:0;right:-12px;width:1px;height:100%;background-color:#ccc;content:''}

/* 회원가입 */
.agree_signin{padding:20px 0 40px}
.agree_signin .tit_agree{font-size:16px}
.agree_signin .box_agree{overflow:auto;height:200px;margin:10px 0 0;border:1px solid #e1e1e1;font-size:13px;background-color:#f1f1f1}
.agree_signin .box_agree .inner_box{padding:30px 20px}
.chk_signin{overflow:hidden}
.chk_signin .chk_g{float:right;padding:10px 0 0;font-size:14px}

.wrap_signin{width:800px;margin:0 auto;padding:40px 0 60px}
.tit_sign{display:block;padding:0 0 20px;font-size:26px}
.signin_chw{border-top:2px solid #333}
.item_signin{border-bottom:1px solid #666}
.item_signin:after{display:block;clear:both;content:''}
.item_signin dt{float:left;width:150px;height:74px;padding:24px 0 0 20px;border-bottom:1px solid #efefef;font-size:16px;box-sizing:border-box}
.item_signin dt:nth-last-of-type(1){border-bottom:0 none}
.item_signin dd{float:left;width:650px;height:74px;padding:16px 20px;border-bottom:1px solid #efefef;box-sizing:border-box}
.item_signin dd:nth-last-of-type(1){border-bottom:0 none}
.item_signin .signin_essential .lab_g{position:relative}
.item_signin .signin_essential .lab_g:after{position:absolute;top:0;right:-10px;color:#de0000;content:'*'}
.item_signin .inp_g{width:100%;padding:10px;box-sizing:border-box}
.item_signin .inp_g2{width:200px;padding:10px;box-sizing:border-box}
.item_signin .inp_g3{width:100px;padding:10px;box-sizing:border-box}
.item_signin .opt_chw{display:inline-block;width:200px;height:42px;vertical-align:top;box-sizing:border-box}
.item_signin .btn_opt{width:100%;height:100%;border:1px solid #e1e1e1;box-sizing:border-box}
.btn_wrap {text-align:center;}
.btn_signin{display:inline-block;width:120px;height:60px;margin:40px auto 0;font-size:20px;color:#fff;background-color:#18467d}
.btn_signin:hover{background-color:#0d294a}
.btn_cancel{display:inline-block;width:120px;height:60px;margin:40px auto 0;font-size:20px;color:#555;background-color:#d7d7d7;}
.btn_cancel:hover{background-color:#ccc;}
