@charset "utf-8";

/* 셀렉트박스 공통 */
.opt_chw{position:relative}
.opt_chw .btn_opt{overflow:hidden;position:relative;z-index:1;width:230px;height:50px;padding:0 18px 0 20px;font-size:16px;color:#aeaeae;background-color:#fff;box-sizing:border-box;text-align:left}
.opt_chw .list_opt{display:none;overflow:hidden;position:absolute;top:50px;left:0;width:100%;padding:10px 0;border-top:1px solid #f0f0f0;background-color:#fff;box-shadow:1px 1px 4px 0px rgba(0,0,0,.3)}
.opt_chw .link_opt{display:block;padding:7px 20px;font-size:14px}
.opt_chw .link_opt:hover{background-color:#f0f0f0;text-decoration:none}
.opt_chw .ico_arrow{float:right;width:10px;height:7px;margin:9px 0 0;background-position:0 -30px}
.opt_chw.opt_open .ico_arrow{background-position:-10px -30px}

/* 콘텐츠 */
.chw_cont{padding:0 0 60px}

.chw_service{overflow:hidden;width:1200px;margin:0 auto}
.chw_service + .cont_area{padding:20px 0 0}
.info_service{float:left;width:586px}
.info_service .item_slide{height:400px;padding:84px 0 0 50px;background-repeat:no-repeat;background-size:cover;box-sizing:border-box}
.info_service .tit_service{font-size:30px;color:#fff}
.info_service .desc_g{padding:35px 0 0;font-size:18px;color:#fff}
.info_service .link_detail{display:block;width:125px;height:40px;margin:50px 0 0;font-size:16px;line-height:40px;background-color:rgba(255,255,255,.89);text-align:center}
.info_service .link_detail:hover{color:#fff;background-color:#27a2dd;text-decoration:none}
.info_service .bx-wrapper .bx-pager{bottom:10px;text-align:center}
.info_service .bx-pager-link{border-radius:50%;background-color:#fff}
.info_service .bx-wrapper .bx-pager.bx-default-pager a{width:10px;height:10px}
.info_service .bx-wrapper .bx-pager.bx-default-pager a:hover,
.info_service .bx-wrapper .bx-pager.bx-default-pager a.active {background-color:#5ebbe8}

.list_service{float:right;width:586px}
.list_service li{float:left;width:293px;height:200px;padding:60px 0 0;background-repeat:no-repeat;background-size:cover;text-align:center;box-sizing:border-box}
.list_service li:nth-child(1){background-image:url(../images/bg_service1.jpg)}
.list_service li:nth-child(2){background-image:url(../images/bg_service2.jpg)}
.list_service li:nth-child(3){background-image:url(../images/bg_service3.jpg)}
.list_service li:nth-child(4){background-image:url(../images/bg_service4.jpg)}
.list_service li:nth-child(1) .link_service{color:#e19a01}
.list_service li:nth-child(2) .link_service{color:#18467d}
.list_service li:nth-child(3) .link_service{color:#196b74}
.list_service li:nth-child(4) .link_service{color:#505050}
.list_service .tit_service{display:block;font-size:20px;color:#fff}
.list_service .link_service{display:block;width:125px;height:35px;margin:20px auto 0;font-weight:bold;font-size:16px;line-height:35px;background-color:rgba(255,255,255,.89)}
.list_service .link_service:hover{text-decoration:none}

.cont_area{width:1200px;margin:0 auto;padding:60px 0 0}
.cont_area:after{display:block;clear:both;content:''}
.cont_area .tit_chw{margin:0 0 20px;padding:0 0 0 10px;border-left:5px solid #5ecbe2;font-size:22px;line-height:1.2}
.list_cont:after{display:block;clear:both;content:''}
.list_cont li{float:left;width:300px}
.list_cont .link_cont{display:block;padding:0 26px 0 0}
.list_cont .link_cont:hover{text-decoration:none}
.list_cont .detail_cont{padding:26px 23px 24px;border:1px solid #d7d7d7;border-top:none}
.list_cont .tit_cont{font-size:16px}
.list_cont .info_cont{overflow:hidden;padding:10px 0 0;font-size:15px}
.list_cont .info_cont dt{float:left}
.list_cont .info_cont dd{float:left;position:relative;padding:0 16px 0 0}
.list_cont .info_cont dd:last-child{padding:0}
.list_cont .info_cont dd:after{position:absolute;top:3px;right:7px;width:1px;height:15px;background-color:#000;content:''}
.list_cont .info_cont dd:last-child:after{display:none}
.list_cont .wrap_thumb{display:block;overflow:hidden;width:100%;height:215px}
.list_cont .thumb_g{transition:transform 0.3s}
.list_cont li:hover .thumb_g{transform:scale(1.1)}
.list_cont_type2{float:left}
.list_cont_type2 li{width:306px}
.list_cont_type2 .tit_chw{display:block}

.cont_search{margin:60px 0 0;padding:35px 0 40px;background-color:#ebebeb}
.cont_search .info_search{width:1200px;margin:0 auto;padding:35px 0 0}
.cont_search .info_search:after{display:block;clear:both;content:''}
.cont_search .detail_search{float:left}
.cont_search .tit_chw{font-size:20px;text-align:center}
.cont_search .tit_chw .ico_search{display:inline-block;width:20px;height:20px;margin:4px 10px 0 0;vertical-align:top;background-position:-40px 0}
.cont_search .opt_chw{float:left}
.cont_search .opt_chw + .opt_chw{margin:0 0 0 10px}
.cont_search .btn_search{float:right;width:160px;height:50px;font-size:16px;color:#fff;background-color:#18467d}

.cont_area .bx-wrapper .bx-controls-direction a{top:-15px;width:18px;height:20px;background-color:#fff}
.cont_area .bx-wrapper .bx-prev{left:inherit;right:17px;background:url(../images/ico_chw.png) no-repeat 0 0}
.cont_area .bx-wrapper .bx-prev:hover{background-position:0 0}
.cont_area .bx-wrapper .bx-next{right:0;background:url(../images/ico_chw.png) no-repeat -20px 0}
.cont_area .bx-wrapper .bx-next:hover{background-position:-20px 0}
.bx-wrapper .list_cont .link_cont{padding:0}

.join_ask{float:left;width:281px;height:346px;margin:45px 0 0;background:url(../images/bg_join.jpg) no-repeat 50% 50%;background-size:cover}
.tit_ask{display:block;padding:120px 0 0;font-size:20px;color:#fff;text-align:center}
.link_ask{display:block;width:176px;height:46px;margin:90px auto 0;font-size:18px;line-height:46px;color:#49a6ad;background-color:#fff;text-align:center}
.link_ask:active{background-color:#fff}

.cont_info{overflow:hidden;width:1200px;height:200px;margin:0 auto;padding:60px 0 0}
.info_news{float:left;position:relative;width:586px;height:100%;padding:20px 36px 26px 34px;background-color:#ebebeb;box-sizing:border-box}
.info_news .tit_chw{font-size:20px}
.info_news .link_more{position:absolute;top:26px;right:35px}
.list_news{overflow:hidden;max-height:116px;padding:8px 0 0}
.list_news li{padding:4px 0 0}
.link_news{display:block;overflow:hidden;font-size:13px}
.link_news .type_news{padding:0 10px 0 0}
.link_news .desc_news{overflow:hidden;float:left;max-width:380px;white-space:nowrap;text-overflow:ellipsis}
.link_news .date_news{float:right}
.link_news:hover .desc_news{text-decoration:underline}

.info_location{float:left;width:586px;height:100%;margin:0 0 0 27px;background:url(../images/bg_location.jpg) no-repeat 0 0;background-size:cover}
.info_location .tit_chw{display:block;padding:50px 0 0;font-size:23px;color:#fff;text-align:center}
.info_location .tit_chw .ico_location{display:inline-block;width:28px;height:40px;margin:0 10px 0 0;background-position:-20px -30px;vertical-align:top}
.info_location .link_location{display:block;width:132px;height:40px;margin:26px auto 0;font-size:17px;line-height:40px;color:#18467d;background-color:#fff;text-align:center}
/*.info_manage{float:right;width:750px;height:100%;padding:45px 0 0;background-color:#7492b5;box-sizing:border-box}
.info_manage .tit_chw{font-size:20px;color:#fff;text-align:center}
.info_manage .ico_search{display:inline-block;width:20px;height:20px;margin:4px 10px 0 0;background-position:-60px 0;vertical-align:top}
.list_manage{padding:35px 0 0;text-align:center}
.list_manage .link_manage{display:inline-block;width:132px;height:60px;margin:0 2px 0 3px;font-weight:bold;font-size:17px;line-height:60px;color:#18467d;background-color:#fff}*/

/* 퀵메뉴 */
.quick_chw{position:absolute;top:111px;right:50%;width:110px;margin-right:-720px;border:1px solid #ababab;box-sizing:border-box}
.quick_chw .link_quick{display:table;width:100%;height:70px;text-align:center}
.quick_chw .link_quick + .link_quick{border-top:1px solid #ababab}
.quick_chw .link_quick .ico_chw{display:inline-block;vertical-align:top}
.quick_chw .inner_quick{display:table-cell;vertical-align:middle}
.quick_chw .ico_youtube{width:87px;height:44px;background-position:0 -70px}
.quick_chw .ico_nblog{width:39px;height:39px;background-position:0 -120px}
.quick_chw .ico_nband{width:37px;height:37px;background-position:-50px -120px}
.quick_chw .ico_npost{width:37px;height:37px;background-position:-90px -120px}
.quick_chw .txt_quick{display:inline-block;padding:0 0 0 8px;font-size:13px;text-align:left}

